---
# Adapted from minima factory "home.html"
layout: default
---

<div class="home">
  
  {% for post in site.posts %}
    <article class="post">

		{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

      <h1><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ post.url | relative_url }}" class="read-more">Read More</a>
    </article>
    <br>
    <hr />
  {% endfor %}
  <br \>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>